body {
    margin-top: 30px;
}

.container {
    width: 350px;
    height: 700px;
    background: #66e0f9;
    border-radius: 30px;
}

div.triangle {
    width: 300px;
    height: 500px;
    background: rgb(255, 255, 255, 0.25);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.triangle::after {
    content: '';
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    background: white;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

div.content-holder {
    z-index: 1;
}

span.log {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #747a87;
    line-height: 10px;
}

span.system {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #747a87;
}

span.line {
    height: 1px;
    background: rgb(102, 224, 249, 0.25);
    display: inline-flex;
}

span.line::after {
    content: '';
    height: 2px;
    background: #66e0f9;
    width: 20%;
}

input {
    height: 30px;
    border: none;
    border-bottom: 2px solid #f2f2f2;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #bbb;
}

button.forgot {
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    background: #747a87;
}

i.fas {
    background: #66e0f9;
    border-radius: 50%;
    color: white;
    box-shadow: 0px 0px 15px 5px rgb(102, 224, 249, 0.5);
}